@tailwind base;
@tailwind components;
@tailwind utilities;

.content {
    transition: max-height 0.5s ease, opacity 0.5s ease;
    max-height: 100%; /* or any initial height that fits the content */
    overflow: hidden;
    opacity: 1;
}

.hidden {
    max-height: 0;
    opacity: 0;
}

#toggleButtonDish img {
    transition: transform 0.5s ease;
}

.rotated {
    transform: rotate(180deg);
    transition: transform 0.5s ease-out;
}


#content {
    max-height: 100%; 
    transition: max-height 0.5s ease-out;
}
.rotate {
    transform: rotate(180deg);
    transition: transform 0.5s ease-out;
}

.hidden {
    /* display: none; */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}




.custom-select {
    width: 100%;
    border-radius: 8px;
    /* border: 1px solid #648179; */
    color: #648179;
    font-size: 16px;
    font-family: Arial, sans-serif;
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="2" height="2" viewBox="0 0 20 20"><polygon fill="%23648179" points="0,0 20,0 10,20"/></svg>') no-repeat right 10px center;
    background-size: 15px;
    background-color: #fff; 
}

@media screen and (max-width: 768px) {
    .custom-select {
        font-size: 14px;
    }
}






body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    /* width: 400px; */
}

h1,
h2 {
    color: #333333;
}

.plan_txt {
    font-size: 18px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

.male_box {
    display: flex;
    gap: 60px;
}

.height_age_weight_box {
    display: flex;
}

.age_height_weight {
    font-size: 14px;
    color: #648179;
    font-weight: 400;
}

.age_height_weight input {
    width: 70%;
    border-radius: 7px;
    border: 1px solid #648179;
    font-size: 14px;
    color: #648179;
    font-weight: 400;
}

.goal_plan_level_assessment {
    font-size: 14px;
    color: #648179;
    font-weight: 400;
}

.goal_plan_level_assessment select {
    width: 100% !important;
    border-radius: 7px;
    border: 1px solid #648179;
    font-size: 14px;
    color: #648179;
    font-weight: 400;
}


.result_container {
    margin: 0 auto;
    width: 450px;
    background-color: #ebf5ff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.result_container h2 {
    font-size: 18px
}

.lvl {
    font-size: 17px;
}

.level_p,
.workout_p,
.target_p {
    margin-top: -14px;
    font-size: 15px;
}

.bju_blocks,
.humman_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 17px;
}

.result_btn {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 10px;
}


.edit_form_cont {
    margin: 0 auto;
    width: 450px;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.edit_box,
.edit_two_box {
    display: flex;
    align-items: center;

}

.kaloriy__ input {
    max-width: 100%;
    border-radius: 7px;
    border: 1px solid #648179;
    font-size: 14px;
    color: #648179;
    padding: 8px;
    font-weight: 400;
}

.edit_box input,
.edit_two_box input {
    width: 70%;
    border-radius: 7px;
    border: 1px solid #648179;
    font-size: 14px;
    color: #648179;
    padding: 8px;
    font-weight: 400;
    margin-top: 3px;
}

form input,
form select,
button {
    padding: 8px;
    margin-top: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 20px;
}

button:hover {
    background-color: #45a049;
}

#results,
#editForm {
    margin-top: 20px;
}

#editForm label {
    display: block;
    margin-bottom: 10px;
}









.custom-select {
    position: relative;
    width: 100%;

}

#goalSelect {
    width: 100% !important;
    border-radius: 7px;
    border: 1px solid #ffffff;
    font-size: 14px;
    color: #648179;
    font-weight: 400;
}

.custom-select .selected-option {
    background-color: white !important;
    border: 1px solid #648179;
    padding: 18px 0 18px 10px;
    height: 25px;
    cursor: pointer;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom-select .options {
    display: none;
    position: absolute;
    margin-top: 5px;
    background-color: #fff !important;
    border: 1px solid #648179;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
padding-bottom: 10px;
border-radius: 10px;

}

.custom-select .options span {
    display: block;
   max-width: 100%;
    margin-top: 5px;
    cursor: pointer;
    margin-left: 7px;
}

.custom-select .options span:hover {
 color: black;
 transition: .3s ease;
 font-size: 15px;
}

#pregnancyStatusContainer {
    display: none;
}